div.input-group.phone-formatted {
    display:flex;
    gap: 2px;
    border-radius: 0.25rem;
    margin-bottom: 10px;

    .input-group-prepend select, input[type="tel"] {
        padding-left: 55px;
        border:none;
        outline: none;
        &:focus {
            border:none;
            outline: none;
            box-shadow:none;
        }
    }

    .input-group-prepend div.custom-select {
        position: absolute;
        button.btn-select {
            padding: 0px;
            padding-left: 10px;
            width: 50px;
            height: 35px;
            border-right: 1px solid #ced4da;
            margin-right: 5px;
            span.flag-icon {
                width: 20px;
                height: 20px;
                display: block;
                box-shadow: 0px 0px 1px 0px #888;
                background-image: url(../../../images/vendor/intl-tel-input-flags.png);
                background-repeat: no-repeat;
                background-color: #dbdbdb;
            }
        }
        ul.options-select{
            display: none;
        }
        &.open ul.options-select{
            display: block;
            position: absolute;
            width: fit-content;
            background-color: white;
            border: 1px solid #aabbcc;
            z-index: 100;
            padding: 5px 0px;
            cursor: pointer;
            overflow-y: scroll;
            height: 400px;
            width: 500px;
            li {
                display: inline-flex;
                flex-direction: row-reverse;
                justify-content: start;
                align-items: center;
                gap: 5px;
                padding: 5px 20px;
                width: 100%;
                list-style: none;
                span.flag-icon {
                    width: 20px;
                    height: 16px;
                    display: block;
                    box-shadow: 0px 0px 1px 0px #888;
                    background-image: url(../../../images/vendor/intl-tel-input-flags.png);
                    background-repeat: no-repeat;
                    background-color: #dbdbdb;
                }
                &:hover {
                    background-color: #a3ace1;
                }
            }
        }
    }

    em.wpforms-error {
        position: absolute;
        top: 90px;
    }


}